{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules":{
    "linebreak-style": 0,
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect"
      }
    ]
  }
}