
main
{
    font-size: 10px;
}

.addBtn
{
    outline:none;
    border:none;
    background: #2A7E13;
    cursor:pointer;
    color:white;
    padding: 10px;
    width:35vw;
    margin: 10px 0 0 5vw;
    border-radius: 5px;
}

.addBtn:hover
{
    box-shadow: 5px 5px 5px #b6aeae;
}

/*MEAL LIST*/
#meal-list
{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.meal-item
{
    display: grid;
    margin-bottom: 10px;
    border: 1px solid #f4a460;
    font-size: 1.5em;
    position: relative;
    grid-template-columns: repeat(2,1fr);
    
}

.meal-item img
{
    width: 100%;
    height: 100%;
}

.details
{
    padding: 5px;
}


.details .btn
{
    padding:5px;
    border:none;
    border-radius: 5px;
    outline: none;
    color:white;
    margin: 5px auto;
}

.del
{
    background: #F68787;
}

.mod
{
    background: #E4B966;
}


.line
{
    height: 5px;
    width:80%;
    background: #f4a460;
    margin: 10px 5px;
}

@media screen and (min-width:500px)
{
    #meal-list
    {
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 10px;
    }

    .meal-item
    {
       margin-bottom: 0;
        
    }



}

@media screen and (min-width:2000px)
{
    .meal-item img
    {
        width: 16vw;
        height: 16vw;
    }

    .details
    {
        position: absolute;
        top:50%;
        left:50%;
        transform: translateY(-50%);
    }
}


/*MODALS*/

/*ADD MEAL*/
#addMeal
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #4d4e4dc0;
    padding: 10px;
    z-index: 50;
  

}
